<!DOCTYPE html>
<html lang="en">

<head>
  <title>Senate Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- La siguiente linea permite establecer vinculos con la libreria de JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- La siguiente linea permite establecer vinculos con la libreria de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- la siguiente linea permite establecer un vínculo entre el archivo html y el archivo css -->
  <link rel="stylesheet" href="tgif.css">
</head>

<body>
  <!--lo siguiente es el header, que incluye el logo, el email y el nav-->
  <header id="cajasuperior">
    <!-- lo siguiente es el nav que contiene los menús desplegables -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <img class="img-responsive" src="img1.jpg" alt="logo">
      <div class="email">
        <span class="glyphicon glyphicon-envelope"></span><a href="mailto:info@tgif.net">nysl@chisoccer.org</a>
      </div>
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home.html">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Congress 113 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="house-data.html">House</a></li>
              <li><a href="senate-data.html">Senate</a></li>
            </ul>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Attendance <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="house-attendance.html">House</a></li>
              <li><a href="senate-attendance.html">Senate</a></li>
            </ul>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Party Loyalty <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="house-party-loyalty.html">House</a></li>
              <li><a href="senate-party-loyalty.html">Senate</a></li>
            </ul>
        </ul>
      </div>
    </nav>
  </header>
  <!--Table container-->
  <div class="infoAttendance">
    <h2>Attendance</h2>
    <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

    <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
  </div>

  <!-- El siguiente div encierra todas las tablas del html -->
  <div class="container" id="app">
    <div class="atAGlance">
      <h2>Senate at a glance</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Party</th>
            <th>No. of Reps</th>
            <th>% voted with party</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="party in partyInfo">
            <td>{{party.party}}</td>
            <td>{{party.numberOfMembers}}</td>
            <td>{{party.percentajeOfVotes + '%'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="leastEngaged">
      <h2>Least Engaged (Bottom 10% Attendance)</h2>
      <table id="leastEngagedSenators" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>No. Missed Votes</th>
            <th>% Missed</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="senator in senadoresMenosComprometidos">
            <td>{{senator.last_name}} {{senator.middle_name}} {{senator.first_name}} </td>
            <td>{{senator.missed_votes}}</td>
            <td>{{senator.missed_votes_pct + '%'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mostEngaged">
      <h2>Most Engaged (Top 10% Attendance)</h2>
      <table id="mostEngagedSenators" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>No. Missed Votes</th>
            <th>% Missed</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="senator in senadoresMasComprometidos">
            <td>{{senator.last_name}} {{senator.middle_name}} {{senator.first_name}} </td>
            <td>{{senator.missed_votes}}</td>
            <td>{{senator.missed_votes_pct + '%'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Las siguientes etiquetas "script" vinculan al html con dos archivos JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!--<script src="pro-congress-113-senate.js"></script>-->
  <script src="statistics-senators.js"></script>


</body></html>
